body {
    background: #d2d2d2c1 url("imagens/fundo.png");
    font: 16px Arial, helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

#direitos{
    text-align: center;
}

#contato{
    font-weight: bold;
}

.imagens{
    border: 10px solid rgba(31, 22, 11, 0.829);
}

.centralizar{
    text-align: center;
}

a {
    color: rgb(85, 79, 79);
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

h1{
    color: #828271;
    font-size: 1.2em
}